<div class="container mat-elevation-z8">
    <img meta name="viewport" content="width=device-width, initial-scale=1" class="logo" src="assets/img/sombraDelivery.png" alt="logo">
    <a routerLink="/" class="car">
        <button class="mat-elevation-z8" mat-icon-button color="primary" aria-label="Example icon button with a home icon">
            <mat-icon>local_grocery_store</mat-icon>
          </button>
    </a>
    <a routerLink="/" class="user">
        <button class="mat-elevation-z8" mat-icon-button color="primary" aria-label="Example icon button with a home icon">
            <mat-icon>account_circle</mat-icon>
          </button>
    </a>
</div>
