<div class="container mat-elevation-z8">
   <mat-nav-list class="itens">
    <a>
        <button class="mat-elevation-z8" mat-fab extended color="primary">
                <mat-icon class="icon">home</mat-icon>
                <span class="label">Início</span>
          </button>
    </a>
    <a>
        <button class="mat-elevation-z8" mat-fab extended color="primary">
            <mat-icon class="icon">local_bar</mat-icon>
                <span class="label">Cervejas</span>
          </button>
    </a>
    <a>
        <button mat-fab extended color="primary">
                <mat-icon class="icon">local_drink</mat-icon>
                <span class="label">Refris</span>
          </button>
    </a>
    <a>
        <button mat-fab extended color="primary">
                <mat-icon class="icon">fastfood</mat-icon>
                <span class="label">Petiscos</span>
          </button>
    </a>
    <a>
        <button mat-fab extended color="primary">
                <mat-icon class="icon">drag_indicator</mat-icon>
                <span class="label">Outros</span>
          </button>
    </a>
    
   </mat-nav-list>
   
</div>

<div>
      <router-outlet></router-outlet>
</div>